.DungeonNav { 
  height: 100%;

  .Note {
    position: absolute;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

    img {
      width: 100%;
      border: 1px solid #DDD;
    }
  }

  .Note--image {
    width: 250px;
  }

  .Note--text {
    background: white;
    padding: 0em 1em;
    color: #333;
    border: 1px solid #DDD;

    h5 {
      margin: 0.5em;
    }
  }

  .Board {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    border: 1px solid #AAA;
    width: 100%;
    height: 100%;
  }
}

.DungeonNav__viewport {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.DungeonNav__boards {
  position: absolute;
  transition: 1s linear top, 1s linear left;
}

.DungeonNav__gridCell {
  position: absolute;
}

.DungeonNav__addBoard {
  background: #AAA;
  padding: 1em;
  text-align: center;
  position: absolute;
  z-index: 1;
}

.DungeonNav__addBoard--moveToBoard {
  border: 1px solid #CCC;
  background: transparent;
}

.DungeonNav__addBoard--top {
  top: 0;
  width: 100%
}

.DungeonNav__addBoard--bottom {
  bottom: 0;
  width: 100%;
}

.DungeonNav__addBoard--left {
  left: 0;
  height: 100%;
}

.DungeonNav__addBoard--right {
  right: 0;
  height: 100%;
}
