.Piles { 
  .Note {
    width: 200px;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);

    img {
      width: 100%;
      border: 1px solid #DDD;
    }
  }

  .Board {
    width: 100% !important;
    height: 100% !important;
    touch-action: none !important;
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }
}
